body {
	margin: auto 0;
	text-align: right;
	direction: rtl;
	font-size: 14px;
	background-color: transparent;
	line-height: 21px;
	overflow: auto;
	height: auto;
}



.red {
	color: red;
	font-size: 14px;
}

.green {
	color: green;
	font-size: 14px;
}